[Unit]
Description=Launch the python script to receive the data from AIR ExDaMa ses


After=network.target


[Service]
ExecStart=/usr/bin/python3 -u Driver_final.py
WorkingDirectory=/usr/games/stepmania_driver/
inherit=Standard_output
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
